.pageWrapper {
  min-height: 100vh;
}

body {
  overflow-x: hidden;
}
.contentArea {
  flex-grow: 1;
  max-width: 1300px;
  margin: 0 auto;
}
.card {
  box-shadow: $card-box-shadow;
  margin-bottom: 30px;
}

.circle-box {
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 100%;
  &.lg-box {
    width: 60px;
    height: 60px;
    font-size: 21px;
    line-height: 60px;
  }
}
.button-group .btn {
  margin: 3px;
}
table th {
  font-weight: 500;
}


.table>:not(:first-child) {
  border-top: 2px solid;
}
.table-borderless>:not(:first-child) {
  border-top-width: 0;
}

#course-home-card-img {
  height: 200px !important;
}

#home-list-course .card-body {
  min-height: 200px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-blend-mode: overlay;
  background-color: #0000008f;
  padding: 10px 10px;
  position: relative;
}

#home-list-course .card-body .card-title{
  color: #fff;
  position: absolute;
  word-break: break-word;
  bottom: 0;
}

.truncate-3-lines {
  display: -webkit-box;
  -webkit-line-clamp: 3; /* Show only 3 lines */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.home-banner {
  height: 660px;
  background-image: url('../../images/home_bg.jpg');
  background-size: cover;
  background-position: top center;
}

.img-container {
  background-image: url('../../images/bg/code-8779051_1280.png');
}

h2, .custom-decaration {
 text-decoration: underline;
 text-underline-offset: 8px;
 text-decoration-color: #016A70;
 text-decoration-thickness: percentage($number: 0.1);
 text-decoration-skip: random($limit: 1) ;
}

.nav-tabs .nav-item .active {
  background-color: #016A70;
  color: #fff;
}

a {
  text-decoration: none;
}

.list-group-item:has(.sub_cards):hover, .unit-card .card-body:hover {
  background-color: #016A70;
  color: #ffffff !important;
}

/* Target the h5 element inside .list-group-item when it is hovered */
.list-group-item:has(.sub_cards):hover h5, .unit-card .card-body:hover .card-title {
  color: #ffffff !important;
}

.bg_description {
  background-color: #dbdbdb !important;
}

.count-text {
  font-size: 35px;
}